In [11]:
import mysql.connector
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import skfuzzy as fuzz

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="laptop"
)

sql_query = pd.read_sql_query('''select * from laptop''', mydb)
sql_query_bobot = pd.read_sql_query('''select * from bobots''', mydb)
data_laptop = pd.DataFrame(sql_query)
nilai_bobot = pd.DataFrame(sql_query_bobot)

data_bobot = np.array(nilai_bobot)
data_bobot = data_bobot[:,[1,2,3,4,5,6]]

data_ram = np.array(data_laptop)
data_ram = data_ram[:,[0,2]]

data_memori = np.array(data_laptop)
data_memori = data_memori[:,[0,3]]

data_resolusi = np.array(data_laptop) 
data_resolusi = data_resolusi[:,[0,4]]

data_berat = np.array(data_laptop)
data_berat = data_berat[:,[0,5]]

data_baterai = np.array(data_laptop) 
data_baterai = data_baterai[:,[0,6]]

data_harga = np.array(data_laptop)
data_harga = data_harga[:,[0,7]]
print(data_harga)

[[11 39962336]
 [12 22209376]
 [13 13310908]
 [14 27376940]
 [15 20862148]
 [21 5000000]]